/* list kursus */
.privat {
  margin-top: 30px;
}
.list_privat {
  width: 100%;
}
.box_privat {
  margin: 20px 0px 20px 0px;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 0px 20px 0px 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.no {
  width: 35px;
  height: 35px;
  background-color: #c3f4df;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section_1 span {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
}
.no_content {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #2ad78b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_detail {
  width: 32px;
  height: 32px;
  background-color: #3c72ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
}
.secondary_header {
  font-size: 12px;
  font-weight: 700;
}
.empty {
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 60px 0px 30px 0px;
}
.empty img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}
.empty h5 {
  font-weight: 700;
  color: #979797;
  font-size: 14px;
}
.empty small {
  color: #979797;
  font-size: 12px;
}
@media screen and (max-width: 480px) {
  .box_privat {
    width: 100%;
  }
}
