.kelas {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px 20px 0px;
}
.box_kelas {
  border: 1px solid #dfd3d3;
  font-size: 12px;
  font-weight: 700;
  color: #606060;
  height: 32px;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
}
.popup {
  width: 580px;
  position: relative;
}
.info {
  width: 100%;
  margin-bottom: 30px;
}
.info small {
  font-size: 12px;
  font-weight: 600;
  color: #696969;
}
.info h3 {
  font-size: 22px;
  color: #363636;
  font-weight: 700;
  margin: 5px 0px 0px 0px;
}
.keterangan {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.keterangan small {
  margin-left: 10px;
  font-weight: 400;
}

.btn_order {
  width: 150px;
  height: 45px;
  background-color: #3c72ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  padding: 0px 20px 0px 20px;
  border: none;
}
.btn_order:hover {
  color: white;
}
.secondary_header {
  font-size: 12px;
  margin: 20px 0px 20px 0px;
  display: block;
}

/*  */
.txt {
  width: 100%;
  min-height: 200px;
  transition: 0.2s;
  padding: 20px;
  border-radius: 5px;
  font-size: 14px;
}

.txt::-webkit-scrollbar {
  width: 5px;
  background-color: whitesmoke;
}
.txt::-webkit-scrollbar-thumb {
  background-color: #363636;
}

@media screen and (max-width: 780px) {
  .popup {
    width: 100%;
  }
  .container_popup {
    padding: 30px;
  }
}

@media screen and (max-width: 480px) {
  .kelas {
    flex-direction: column;
    align-items: flex-start;
  }
  .box_kelas {
    margin-top: 20px;
  }
  .btn_order {
    width: 100%;
    height: 55px;
  }
  .container_popup {
    padding: 20px;
  }
}
