.textarea {
  width: 100%;
  min-height: 150px;
  height: auto;
  border: 1px solid #dfd3d3;
  border-radius: 5px;
  padding: 20px;
  font-size: 14px;
  resize: none;
  outline: none;
  transition: 0.2s;
}

.textarea:focus {
  border: 2px solid #3c72ff;
}

.btn_attachment {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px 20px 0px;
}
.btn_transparent {
  height: 40px;
  padding: 0px 20px 0px 20px;
  border: 2px solid #dfd3d3;
  background-color: whitesmoke;
  color: #363636;
  border-radius: 5px;
  margin-right: 15px;
}
.btn_transparent:focus {
  outline: none;
}
.title {
  font-size: 12px;
  font-weight: 700;
  display: block;
}
.preview_image {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  padding: 20px 0px 20px 0px;
  margin-bottom: 20px;
}
.preview_image::-webkit-scrollbar {
  height: 5px;
  background-color: whitesmoke;
}
.preview_image::-webkit-scrollbar-thumb {
  background-color: #dfd3d3;
  border-radius: 50px;
}
.container_image {
  flex-shrink: 0;
  width: 250px;
  height: auto;
  border-radius: 5px;
  position: relative;
  margin-right: 20px;
}
.container_image img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  border: none;
}
.remove_img {
  position: absolute;
  top: 0px;
  right: -10px;
  border-radius: 50px;
  z-index: 100;
  width: 40px;
  height: 40px;
  border: 2px solid #363636;
  background-color: white;
}

.remove_img:focus {
  outline: none;
}

/* preview file */
.preview_file {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px 20px 0px;
}
.files {
  height: 45px;
  border: 1px solid #dfd3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  margin: 10px 10px 0px 0px;
}

.remove_file {
  width: 25px;
  height: 25px;
  background-color: #dfd3d3;
  border-radius: 50px;
  border: 1px solid #363636;
  margin-left: 10px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_keterangan {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px 20px 0px;
}

.input {
  height: 45px;
  padding: 0px 20px 0px 20px;
  border: 1px solid #dfd3d3;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 10px;
}

.container_tags {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #dfd3d3;
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.tags {
  height: 35px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #3c72ff;
  padding: 0px 20px 0px 20px;
  border-radius: 5px;
  font-weight: 600;
  color: #3c72ff;
  margin-right: 10px;
  margin-top: 10px;
}
.input_tags {
  height: 35px;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #dfd3d3;
  font-size: 14px;
  outline: none;
  margin-top: 10px;
}
.anonim {
  margin-top: 20px;
}
.anonim label {
  font-size: 12px;
}
.container_btn {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px 20px 0px;
}
.container_btn button {
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: whitesmoke;
  color: #363636;
  font-size: 12px;
  font-weight: 700;
  padding: 0px 20px 0px 20px;
  margin-right: 20px;
}

.container_btn .btn_kirim {
  background-color: #3c72ff;
  color: white;
}

@media screen and (max-width: 480px) {
  .container_keterangan {
    flex-direction: column;
    align-items: flex-start;
  }
  .input {
    width: 100%;
    margin: 5px 0px 5px 0px;
  }
  .container_btn {
    justify-content: space-between;
  }
  .container_btn button {
    height: 45px;
    width: 45%;
    margin-top: 50px;
  }
}

/* overlay loading */
.overlay_loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}
.loading {
  width: 100%;
  height: auto;
  background-color: #e4e4e4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indicator {
  height: 8px;
  background-color: #3c72ff;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  0% {
    width: 70%;
  }
  50% {
    width: 40%;
    opacity: 0.6;
  }
  100% {
    width: 10%;
    opacity: 0.3;
  }
}

/* popup */
.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1200;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.container {
  width: 580px;
  height: auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  position: relative;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}
