.header_text {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
}

.sub_header {
  font-size: 12px;
  line-height: 20px;
}
.privat {
  width: 100%;
  margin-top: 30px;
}
/* navigation */
.nav_dashboard {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
}
.nav_dashboard::-webkit-scrollbar {
  height: 3px;
  background-color: whitesmoke;
}
.nav_dashboard::-webkit-scrollbar-thumb {
  background-color: #dfd3d3;
  border-radius: 50px;
}
.nav_links {
  font-size: 14px;
  font-weight: 600;
  color: #cecece;
  margin-right: 30px;
  transition: 0.2s;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
}
.nav_links:hover {
  color: #363636;
  border-bottom: 3px solid #363636;
}
.nav_links:focus {
  color: #363636;
  border-bottom: 3px solid #363636;
}
.active_links {
  font-size: 14px;
  font-weight: 600;
  color: #cecece;
  margin-right: 30px;
  transition: 0.2s;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
  color: #363636;
  border-bottom: 3px solid #363636;
}

/* box */
.box_privat {
  position: relative;
  margin: 20px 0px 20px 0px;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 0px 20px 0px 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.no {
  width: 35px;
  height: 35px;
  background-color: #c3f4df;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section_1 span {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
}
.no_content {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #2ad78b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_detail {
  width: 32px;
  height: 32px;
  background-color: #3c72ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
}

.canvas_btn button {
  font-size: 12px;
  font-weight: 600;
}

/* popup */
.canvas {
  width: 580px;
  position: relative;
}
.canvas h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}
.canvas textarea {
  min-height: 200px;
  font-size: 14px;
  font-weight: 28px;
  padding: 20px 20px 20px 20px;
  resize: none;
  height: auto;
  max-height: 400px;
}
.canvas button {
  font-size: 14px;
  font-weight: 600;
}

@media screen and (max-width: 780px) {
  .container_laporan {
    padding: 20px;
  }
}
@media screen and (max-width: 480px) {
  .box_privat {
    width: 100%;
  }
}
