.komentar {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #dfd3d3;
}

.btn_jawaban {
  height: 45px;
  font-size: 14px;
  background-color: #3c72ff;
  border-radius: 5px;
  padding: 0px 20px 0px 20px;
  border: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
.btn_jawaban span {
  margin-left: 10px;
}
.btn_jawaban:focus {
  outline: none;
}
/* kolom komentar */
.kolom_komentar {
  width: 100%;
  height: auto;
  background-color: #ececec;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  margin-top: 30px;
}

.text_comments {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: auto;
  position: relative;
}
.btn_transparent {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  margin-left: 20px;
}
.btn_transparent_active {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  margin-left: 20px;
  background-color: #dfd3d3;
  border-radius: 50px;
}
.textarea {
  flex: 1;
  background-color: transparent;
  padding: 5px 0px 20px 20px;
  border: none;
  outline: none;
  resize: none;
  height: auto;
}
.textarea::-webkit-scrollbar {
  width: 5px;
  background-color: whitesmoke;
}
.textarea::-webkit-scrollbar-thumb {
  background-color: #dfd3d3;
  border-radius: 50px;
}
.btn_send {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: #3c72ff;
  border: none;
  margin-left: 20px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.medias {
  width: 250px;
  min-height: 55px;
  position: absolute;
  top: -90px;
  right: 0px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px 10px 10px;
}
.btn_media {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: none;
}
.btn_media:focus {
  outline: none;
}

/* komentar audio */
.komentar_audio {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: ce;
}
.keterangan_audio {
  flex: 1;
  height: 45px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}
.loading_btn {
  width: 45px;
  height: 45px;
  border: 3px solid #dfd3d3;
  border-radius: 50px;
  animation: loading_btn 0.7s ease infinite;
}
@keyframes loading_btn {
  0% {
    border-color: #dfd3d3;
    border-top-color: #3c72ff;
    transition: 0.2s;
  }
  25% {
    border-color: #dfd3d3;
    border-right-color: #3c72ff;
    transition: 0.2s;
  }
  50% {
    border-color: #dfd3d3;
    border-bottom-color: #3c72ff;
    transition: 0.2s;
  }
  75% {
    border-color: #dfd3d3;
    border-lef-color: #3c72ff;
    transition: 0.2s;
  }
  100% {
    border-color: #dfd3d3;
    border-top-color: #3c72ff;
    transition: 0.2s;
  }
}
@media screen and (max-width: 480px) {
  .kolom_komentar {
    padding-left: 0px;
  }
  .textarea {
    font-size: 12px;
    padding: 10px 0px 20px 0px;
  }
  .btn_send {
    margin-left: 10px;
  }
  .medias {
    width: 100%;
  }
  .text_comments {
    padding: 0px 0px 0px 20px;
    flex: 1;
  }
  .btn_transparent {
    margin-left: 0px;
  }
}
/*  */
.hide {
  display: none;
}

/* komentar */
.comments {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 30px 0px 30px 0px;
}
.jawaban {
  width: 100%;
  margin: 20px 0px 20px 0px;
  font-size: 14px;
}
.stats {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn_stats {
  height: 32px;
  border: 1px solid #dfd3d3;
  padding: 0px 20px 0px 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #dfd3d3;
  background-color: transparent;
  transition: 0.2s;
  color: #696969;
}
.btn_stats span {
  margin-left: 10px;
}
.btn_stats:hover {
  background-color: whitesmoke;
}
.profile {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile img {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: none;
}
.profile_desc {
  flex: 1;
  margin-left: 20px;
}
.profile_desc h4 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
.profile_desc small {
  font-size: 12px;
  color: #bdbdbd;
  margin-top: 8px;
  display: block;
}

/* komentar gambar */
.jawaban {
  display: block;
  width: 100%;
}
.jawaban img {
  display: block;
  width: 300px;
  border-radius: 5px;
}

/* style audio */
.audio_preview {
  flex: 1;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_playpause {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: #57cc99;
}
.btn_playpause:focus {
  outline: none;
}
.audio_track {
  flex: 1;
  margin: 0px 20px 0px 20px;
}
.audio_preview small {
  font-size: 12px;
  font-weight: 600;
}
.btn_delete {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: none;
  margin: 0px 20px 0px 20px;
  background-color: #ff3c66;
}
