.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 2000;
}
.canvas {
  width: 50%;
  text-align: center;
}

.canvas h2 {
  font-weight: 700;
}
.canvas p {
  font-size: 16px;
  line-height: 28px;
  margin: 30px 0px 30px 0px;
}

.btn_cancel {
  height: 40px;
  padding: 0px 20px 0px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 30px;
  font-size: 14px;
  font-weight: 700;
  background-color: #f6f6f6;
  color: #d1d1d1;
  cursor: pointer;
}

.btn_next {
  height: 40px;
  background-color: #3c72ff;
  color: white;
  font-weight: 700;
  font-size: 14px;
  padding: 0px 20px 0px 20px;
  border: none;
  border-radius: 5px;
}
.btn_next span {
  margin-right: 10px;
}

@media screen and (max-width: 780px) {
  .canvas {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .canvas {
    width: 90%;
    text-align: justify;
    padding: 20px;
  }
  .canvas p {
    font-size: 14px;
  }
}
