.box_diskusi {
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.box_diskusi:hover {
  color: #363636;
}
.box_profile {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box_profile img {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: none;
  margin-right: 10px;
  display: block;
}
.bio {
  width: 85%;
  margin-left: 20px;
}
.bio h5 {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}
.bio span {
  font-size: 11px;
  color: #606060;
}

.pertanyaan {
  margin: 20px 0px 0px 0px;
}

.pertanyaan p {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
}
.pertanyaan h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
}

.tags {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.jenjang {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.jenjang span {
  background-color: #f1f1f1;
  margin-right: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
}

.jenjang a {
  background-color: #f1f1f1;
  margin-right: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
}

.tags_free {
  flex: 1;
}

.interaction {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}
.response {
  font-size: 12px;
  color: #afafaf;
  margin-right: 20px;
}
.response span {
  margin-left: 10px;
}
.answer {
  margin-right: 20px;
}
.answer span {
  margin-left: 10px;
  font-size: 12px;
  color: #afafaf;
}
/* filter data */
.filter_data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 580px;
  margin-bottom: 20px;
}
.btn_filter {
  border: 1px solid #dfd3d3;
  height: 45px;
  padding: 0px 20px 0px 20px;
  border-radius: 5px;
  color: #363636;
  font-weight: 600;
  font-size: 14px;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_filter span {
  margin-left: 10px;
}
.btn_filter:hover {
  background-color: white;
}
.create_question {
  height: 45px;
  background-color: #3c72ff;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create_question span {
  margin-left: 10px;
}
@media screen and (max-width: 780px) {
  .box_diskusi {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .pertanyaan h4 {
    font-size: 14px;
    line-height: 25px;
  }
}
