.container {
  width: 100%;
  height: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.canvas {
  width: 450px;
  height: auto;
}
.box_notif {
  width: 100%;
  background-color: white;
  padding: 20px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}
.credential {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile img {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: none;
}

.profile_desc {
  padding: 0px 20px 0px 20px;
}
.profile_desc h5 {
  font-size: 14px;
  font-weight: 700;
  margin: 0px 0px 0px 0px;
}
.profile_desc small {
  font-size: 12px;
  color: #696969;
}
.btn_delete {
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid transparent;
}
.btn_delete:focus {
  outline: none;
}
.btn_delete:hover {
  border: 1px solid #dfd3d3;
  border-radius: 5px;
}
.body {
  display: block;
  height: auto;
  width: 100%;
  font-size: 14px;
  margin: 20px 0px 0px 0px;
}

@media screen and (max-width: 480px) {
  .canvas {
    width: 100%;
    padding: 0px 20px 0px 20px;
  }
}
