.container {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.profile {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile_image img {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  border: 2px solid;
  border-color: #dfd3d3 transparent;
  padding: 2px;
}
.profile_desc {
  margin-left: 20px;
}
.profile_desc h5 {
  font-size: 14px;
  margin: 0;
  font-weight: 700;
  margin-bottom: 5px;
}
.profile_desc small {
  font-size: 12px;
  color: #c4c4c4;
}
.body {
  margin-top: 20px;
}
.body p {
  font-size: 16px;
  line-height: 28px;
}
.link_next {
  font-weight: 700;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .profile {
    align-items: flex-start;
  }
  .profile_desc h5 {
    margin-bottom: 10px;
  }
  .profile_desc small {
    display: block;
  }
}
