.centered_content {
  flex: 1;
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* filter data */
.filter_data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.btn_filter {
  border: 1px solid #dfd3d3;
  height: 45px;
  padding: 0px 20px 0px 20px;
  border-radius: 5px;
  color: #363636;
  font-weight: 600;
  font-size: 14px;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
.btn_filter span {
  margin-left: 10px;
}
.btn_filter:hover {
  background-color: white;
}
.create_question {
  height: 45px;
  background-color: #3c72ff;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create_question span {
  margin-left: 10px;
}
.data_manipulation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 780px) {
  .centered_content {
    padding: 0px 20px 20px 0px;
  }
  .box_diskusi {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .pertanyaan h4 {
    font-size: 14px;
    line-height: 25px;
  }
  .create_question {
    width: 100%;
    margin-bottom: 20px;
  }
  .filter_data {
    width: 100%;
    flex-direction: column;
  }
  .centered_content {
    width: 100%;
    padding: 0px;
  }
  .data_manipulation {
    width: 100%;
  }
  .btn_filter:nth-child(2) {
    width: 60%;
  }
  .btn_filter {
    margin: 0;
  }
}
